.ck-secondary-heading-1 {
  color: $color-primary-0 !important;
  padding: 1rem 0 !important;
  font-size: 1.2rem !important;
}

.ck-list {
  ul {
    list-style: none;
    li {
      margin: 0;
      padding: 0;
    }
  }
}