/*
// Variables
@import 'lib/variables';
//Fonts
@import "lib/fonts";
// Bootstrap
//@import '~bootstrap-v4-rtl/dist/css/bootstrap';
@import '~bootstrap-v4-rtl/dist/css/bootstrap-rtl';
//@import '~bootstrap-v4-rtl/dist/css/bootstrap-grid';
//@import '~bootstrap-v4-rtl/dist/css/bootstrap-reboot';


@import "lib/font-correction";
@import "lib/switch";
@import "lib/scrollbar";

@import "~wow.js/css/libs/animate";
*/
@import '~bootstrap-v4-rtl/dist/css/bootstrap-rtl';
@import "lib/fonts";
@import "lib/scrollbar";
@import "lib/font-correction";
@import "lib/switch";
@import "~wow.js/css/libs/animate";
@import "~font-awesome/scss/font-awesome";

body {
  font-family: 'IRANSans';
  color: #444;
}

.pull-left {
  float: left !important;
}

.navbar-brand img {
  height: 30px;
}

//--------------------------------------
//heart beating
.heartBeat {
  color: white !important;
  animation: 3s infinite heartBeat;
  text-shadow: 0px 0px 5px #ff0000, 0px 0px 5px #ff0000, 0px 0px 5px #ff0000, 0px 0px 5px #ff0000, 0px 0px 5px #ff0000, 0px 0px 5px #ff0000;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  5% {
    text-shadow: 0px 0px 5px #ff0000, 0px 0px 5px #ff0000, 0px 0px 5px #ff0000, 0px 0px 5px #ff0000;
  }
  10% {
    text-shadow: 0px 0px 5px #ffffff, 5px 5px 10px #ffffff, -5px -5px 10px #ffffff, 0px 0px 10px #ffffff;
  }
  20% {
    text-shadow: 0px 0px 5px #ff0000, 0px 0px 5px #ff0000, 0px 0px 5px #ff0000, 0px 0px 5px #ff0000;
  }
  25% {
    text-shadow: 0px 0px 5px #ff0000, 0px 0px 5px #ff0000, 0px 0px 5px #ff0000, 0px 0px 5px #ff0000;
  }
  30% {
    text-shadow: 0px 0px 5px #ffffff, 5px 5px 10px #ffffff, -5px -5px 10px #ffffff, 0px 0px 10px #ffffff;
  }
  40% {
    text-shadow: 0px 0px 10px #ff0000;
  }
  100% {
    text-shadow: 0px 0px 5px #ff0000, 0px 0px 5px #ff0000, 0px 0px 5px #ff0000, 0px 0px 5px #ff0000;
  }
}

//------------------------------------------------------
//--------------------------------------
//heart beating
.movasagh {
  display: inline-block;
  animation: 5s infinite movasagh;

}

@keyframes movasagh {
  0% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  95% {
    transform: rotate(-180deg);
  }
}

//----------------------
//--------------------------------------
//background image pan
.backgroundImage-pan {
  color: white !important;
  animation: 800s infinite pan linear;
}

@keyframes pan {
  0% {
    background-position-x: left;
  }
  100% {
    background-position-x: 10000px;
  }
}

//----------------------
#homeHeader {
  background-image: url('../images/news-background.png');
  background-size: cover;
  background-position-y: center;

}

#newsManImgContainer {
  position: relative;
}

#newsmanImg {
  position: relative;
  bottom: -12%;
}

@media (min-width: 768px) and (max-width: 992px) {
  #newsmanImg {
    bottom: -28%;
  }
}

//------------------------------
// btn Main

.text-main {
  color: #fc645b !important;
}

.btn-main {
  color: #fff;
  background-color: #e94343;
  border-color: #fc645b;
}

.btn-main:hover {
  color: #fff;
  background-color: #a00;
  border-color: #a55;
}

.btn-main:focus, .btn-main.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 48, 6, 0.5);
}

.btn-main.disabled, .btn-main:disabled {
  color: #eee;
  background-color: #fc645b;
  border-color: #fc645b;
}

.btn-main:not(:disabled):not(.disabled):active, .btn-main:not(:disabled):not(.disabled).active,
.show > .btn-main.dropdown-toggle {
  color: #eee;
  background-color: #d33500;
  border-color: #c65100;
}

.btn-main:not(:disabled):not(.disabled):active:focus, .btn-main:not(:disabled):not(.disabled).active:focus,
.show > .btn-main.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 5, 0, 0.5);
}

///-------------------------------
// home-plans
#plans {
  background-color: #fff;
  .plan-card {
    background-color: #fefff6;
    padding: 1rem;
    //-webkit-box-shadow: 5px 5px 5px 5px #444;
    //-moz-box-shadow: 5px 5px 5px 5px #444;
    box-shadow: 1px 1px 15px 1px #444;
    cursor: pointer;
    transition: 0.3s all;
  }
  .plan-card:hover {
    box-shadow: 1px 1px 5px 0px #444;

  }

  .plan-card:hover .show-link{
    visibility: visible;
  }
  .plan-card .show-link{
    visibility: hidden;
  }
  @media (max-width: 768px) {

    .plan-card .show-link{
      visibility: visible;
    }
  }

}

//----------------------------------
// footer
#footer{
  a{
    color: #fff;
  }
  .social-icons{
    font-size: 1.5rem;
  }
  .social-icons a{
    padding-right: 0.1rem;
    padding-left: 0.1rem;
  }
  .social-icons a:hover{
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    color: #b9625d;
    transition: 0.5s all;
  }
  ul{
    list-style: none;
  }
}