body{
  font-family: 'IRANSans';
  font-size: 0.9rem;
  line-height: 1.7rem;
}
.btn{
  font-size: 0.9rem;
}
.dropdown-menu {
  font-size: 0.9rem;
}
.form-control {
  font-size: 0.9rem;
}
.table th, .table td {
  padding: 0.2rem 0.5rem;
}

h1, .h1 {
  font-size: 2rem;
}

h2, .h2 {
  font-size: 1.75rem;
}

h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.25rem;
}

h5, .h5 {
  font-size: 1.1rem;
}

h6, .h6 {
  font-size: 1rem;
}