@import 'lib/variables';
@import "lib/fonts";
@import "lib/scrollbar";
@import "lib/switch";
@import "~wow.js/css/libs/animate";
//@import "~font-awesome/scss/font-awesome";
@import '~bootstrap-v4-rtl/dist/css/bootstrap-rtl';

@import "lib/font-correction";

body {
  color: #444;
}

main {
  padding-top: 68px;
}

.pull-left {
  float: left !important;
}

.glow-red {
  text-shadoow: 0px 0px 5px #ff0000;
}



#loader {
  z-index: 100000;
}
#loader .spinner {
  width: 50px;
  height: 50px;
  margin: 200px auto;
  border: 3px solid #aaaaaa;
  border-top: 3px solid #f00;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);

  }
  100% {
    transform: rotate(360deg);

  }
}







.counter-number {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding-top: 30px;
  margin: 0 auto;
  position: relative;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 10px;
  background-color: rgba(255,255,255,0.2);
}

.counter-number::after {
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 1px solid  #fff;
  border-bottom: 1px solid #ff1900;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  content: " ";
  transition: 1s  ease-in-out ;
  border-radius: 50%;
}

.counter-box:hover .counter-number::after{
  transform: rotate(360deg);
}
.counter-box .counter-caption{
  overflow: hidden;
  height: 30px;
  font-size: 0.8rem;
  transition: 0.2s  ease-in-out ;
}
.counter-box:hover .counter-caption{
  font-size: 1rem;
  padding-top: 5px;
}
@keyframes  border-spiner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(720deg);
  }
  100% {
    transform: rotate(720deg);
  }
}

#counters .card{
  background-color: #7a0000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg fill-opacity='0.32'%3E%3Ccircle fill='%237a0000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%239b402f' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%23b96f5e' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%23d49d91' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%23ebcdc7' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23ffffff' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
}

//----------------------------------

.bg1 {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='100' height='50' viewBox='0 0 100 50'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='0.48' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='2' height='2' patternUnits='userSpaceOnUse'%3E%3Cg stroke='%23ffffff' stroke-width='0.48'%3E%3Crect fill='%23fafafa' width='1' height='1'/%3E%3Crect fill='%23ffffff' width='1' height='1' x='1' y='1'/%3E%3Crect fill='%23f5f5f5' width='1' height='1' y='1'/%3E%3Crect fill='%23f0f0f0' width='1' height='1' x='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='b' width='5' height='11' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23ebebeb'%3E%3Cuse xlink:href='%23s' x='2' y='0'/%3E%3Cuse xlink:href='%23s' x='4' y='1'/%3E%3Cuse xlink:href='%23s' x='1' y='2'/%3E%3Cuse xlink:href='%23s' x='2' y='4'/%3E%3Cuse xlink:href='%23s' x='4' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='8'/%3E%3Cuse xlink:href='%23s' x='3' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='7' height='7' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='3' y='4'/%3E%3Cuse xlink:href='%23s' x='5' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='11' height='5' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23ffffff'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='6' y='3'/%3E%3Cuse xlink:href='%23s' x='8' y='2'/%3E%3Cuse xlink:href='%23s' x='3' y='0'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse xlink:href='%23s' x='8' y='3'/%3E%3Cuse xlink:href='%23s' x='4' y='2'/%3E%3Cuse xlink:href='%23s' x='5' y='4'/%3E%3Cuse xlink:href='%23s' x='10' y='0'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='23' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23ff918c'%3E%3Cuse xlink:href='%23s' x='2' y='5'/%3E%3Cuse xlink:href='%23s' x='23' y='13'/%3E%3Cuse xlink:href='%23s' x='4' y='18'/%3E%3Cuse xlink:href='%23s' x='35' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='61' height='31' patternUnits='userSpaceOnUse'%3E%3Cg fill='%23ff918c'%3E%3Cuse xlink:href='%23s' x='16' y='0'/%3E%3Cuse xlink:href='%23s' x='13' y='22'/%3E%3Cuse xlink:href='%23s' x='44' y='15'/%3E%3Cuse xlink:href='%23s' x='12' y='11'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100' height='50'/%3E%3Crect fill='url(%23b)' width='100' height='50'/%3E%3Crect fill='url(%23c)' width='100' height='50'/%3E%3Crect fill='url(%23d)' width='100' height='50'/%3E%3Crect fill='url(%23e)' width='100' height='50'/%3E%3Crect fill='url(%23f)' width='100' height='50'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.bg2 {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(209,768,365)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%23f8f8f8'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='300' height='250' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.05'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.bg3 {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='106' height='106' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23d9d9d9' fill-opacity='0.09'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.09'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
}

.bg4 {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23ffdfba' stroke-width='2.1' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;

}

.bg5 {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 100 100'%3E%3Crect x='0' y='0' width='21' height='21' fill-opacity='0.17' fill='%23ff0000'/%3E%3C/svg%3E");
  background-attachment: fixed;

}

.bg6 {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.32'%3E%3Ccircle fill='%23ffffff' cx='50' cy='0' r='50'/%3E%3Cg fill='%23fffdfb' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fffbf6' cx='50' cy='100' r='50'/%3E%3Cg fill='%23fff9f2' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fff7ee' cx='50' cy='200' r='50'/%3E%3Cg fill='%23fff4ea' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23fff2e5' cx='50' cy='300' r='50'/%3E%3Cg fill='%23fff0e1' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffeedd' cx='50' cy='400' r='50'/%3E%3Cg fill='%23ffecd9' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffead5' cx='50' cy='500' r='50'/%3E%3Cg fill='%23ffe8d0' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffe6cc' cx='50' cy='600' r='50'/%3E%3Cg fill='%23ffe4c8' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffe2c3' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ffe0bf' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffddbb' cx='50' cy='800' r='50'/%3E%3Cg fill='%23ffdbb7' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffd9b2' cx='50' cy='900' r='50'/%3E%3Cg fill='%23ffd7ae' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23ffd5aa' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}

//------------------------------------

.card {
  border-radius: 0;
  //-webkit-box-shadow: 0px 1px 1px 0px #999;
  //-moz-box-shadow: 0px 1px 1px 1px #999;
  box-shadow: -1px 1px 3px 0 #cbcbcb;
  padding: 1rem;
  margin-bottom: 10px;
}

//-------------------------------------
.content-container {
  min-height: 500px;
}

//-------------------------------------
.navbar-brand img {
  height: 30px;
}

.navbar {
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
}

//--------------------------------------
//heart beating
.heartBeat {
  color: white !important;
  animation: 3s infinite heartBeat;
  text-shadow: 0px 0px 5px #ff0000, 0px 0px 5px #ff0000, 0px 0px 5px #ff0000, 0px 0px 5px #ff0000, 0px 0px 5px #ff0000, 0px 0px 5px #ff0000;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  5% {
    text-shadow: 0px 0px 5px #ff0000, 0px 0px 5px #ff0000, 0px 0px 5px #ff0000, 0px 0px 5px #ff0000;
  }
  10% {
    text-shadow: 0px 0px 5px #ffffff, 5px 5px 10px #ffffff, -5px -5px 10px #ffffff, 0px 0px 10px #ffffff;
  }
  20% {
    text-shadow: 0px 0px 5px #ff0000, 0px 0px 5px #ff0000, 0px 0px 5px #ff0000, 0px 0px 5px #ff0000;
  }
  25% {
    text-shadow: 0px 0px 5px #ff0000, 0px 0px 5px #ff0000, 0px 0px 5px #ff0000, 0px 0px 5px #ff0000;
  }
  30% {
    text-shadow: 0px 0px 5px #ffffff, 5px 5px 10px #ffffff, -5px -5px 10px #ffffff, 0px 0px 10px #ffffff;
  }
  40% {
    text-shadow: 0px 0px 10px #ff0000;
  }
  100% {
    text-shadow: 0px 0px 5px #ff0000, 0px 0px 5px #ff0000, 0px 0px 5px #ff0000, 0px 0px 5px #ff0000;
  }
}

//------------------------------------------------------
//--------------------------------------
//heart beating
.movasagh {
  display: inline-block;
  animation: 5s infinite movasagh;

}

@keyframes movasagh {
  0% {
    transform: rotate(0deg);
  }
  45% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  95% {
    transform: rotate(-180deg);
  }
}

//----------------------
//--------------------------------------
//background image pan
.backgroundImage-pan {
  animation: 800s infinite pan linear;
}

@keyframes pan {
  0% {
    background-position-x: left;
  }
  100% {
    background-position-x: 10000px;
  }
}

//----------------------
#homeHeader {
  background-image: url('/images/news-background.png');
  background-size: cover;
  background-position-y: center;

}

#newsManImgContainer {
  position: relative;
}

#newsmanImg {
  position: relative;
  bottom: -12%;
}

@media (min-width: 768px) and (max-width: 992px) {
  #newsmanImg {
    bottom: -28%;
  }
}

//------------------------------
// btn Main

.text-main {
  color: #fc645b !important;
}

.btn-main {
  color: #fff;
  background-color: #e94343;
  border-color: #fc645b;
}

.btn-main:hover {
  color: #fff;
  background-color: #a00;
  border-color: #a55;
}

.btn-main:focus, .btn-main.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 48, 6, 0.5);
}

.btn-main.disabled, .btn-main:disabled {
  color: #eee;
  background-color: #fc645b;
  border-color: #fc645b;
}

.btn-main:not(:disabled):not(.disabled):active, .btn-main:not(:disabled):not(.disabled).active,
.show > .btn-main.dropdown-toggle {
  color: #eee;
  background-color: #d33500;
  border-color: #c65100;
}

.btn-main:not(:disabled):not(.disabled):active:focus, .btn-main:not(:disabled):not(.disabled).active:focus,
.show > .btn-main.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 5, 0, 0.5);
}

///-------------------------------
// home-plans

#plans {
  .flexrow {
    display: flex;
    flex-wrap: wrap;
  }
  .flexcolumn {
    display: flex;
    flex-direction: column;
  }

  .plan-card {

    border: 1px solid #c1cdd6;
    background-color: #fff;
    padding: 1rem;
    cursor: pointer;
    transition: 0.1s all;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    .plan-price {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;
    }

  }
  .plan-card:hover {
    box-shadow: 1px 1px 15px 1px #8a8a8a;

  }

  .plan-card:hover .show-link {
    visibility: visible;
  }
  .plan-card .show-link {
    visibility: hidden;
  }
  @media (max-width: 768px) {

    .plan-card .show-link {
      visibility: visible;
    }
  }

}

//----------------------------------
// footer
#footer {
  a {
    color: #fff;
  }
  .social-icons {
    font-size: 1.5rem;
  }
  .social-icons a {
    padding-right: 0.1rem;
    padding-left: 0.1rem;
  }
  .social-icons a:hover {
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    color: #b9625d;
    transition: 0.5s all;
  }
  ul {
    list-style: none;
  }
}

//---------------------- nvbar
/*

.navbar {
  background-color: transparent;
  border: none;
  color: white;
  z-index: 100;
  transition: background-color 1s ease 0s;
}

.navbar-light {

  .navbar-toggler {
    border-color: rgb(255, 255, 255);
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .navbar-brand {
    margin-top: 10px;
    color: white;
    &:hover {

      color: white;
    }
  }

  .navbar-nav {

    > li {

      > a {
        color: white !important;
        margin: 10px 5px 5px 5px;

      }
      > a:hover, > a:active, > a:focus {
        color: #fbfdff;
      }

    }
    //end li

    > .active {

      > a, > a:hover, > a:focus {
        background-color: transparent;
        color: #C57ED3;
      }

    }

  }
  //end .navbar-nav

  //Collapsed styles
  .navbar-toggle {
    border-color: #d31000;

    &:hover, &:focus {
      background-color: #490D40;
    }

    .icon-bar {
      color: #C57ED3;
      background-color: #C57ED3;

    }
  }

  .navbar-collapse.collapse.in ul {
    background-color: #490D40;
  }

  .navbar-collapse.show ul {
    background-color: #fff !important;
    transition: 0.5s all;
    .nav-link {
      color: #444 !important;
    }
  }

  .navbar-collapse ul {
    background-color: transparent;
    transition: 0.5s all;
    .nav-link {
      color:white !important;
    }
  }
}

//end .navbar-default

!* Solid class attached on scroll past first section *!

.navbar.solid {
  background-color: #ffffff;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;

  .navbar-brand {
    color: #a3a3a3;
    transition: color 1s ease 0s;
  }

  .navbar-nav {

    > li {

      > a {
        color: #4b4b4b !important;
        transition: color 1s ease 0s;
      }

    }
    //end li

  }
  //end .navbar-nav

  .navbar-toggler {
    border-color: rgb(0,0,0,0.5);
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

}


*/
//----------------------------------------
// insta last post
#last-post {
  .container .card {
    background: rgb(255, 41, 41);
    background: radial-gradient(circle, rgba(255, 41, 41, 1) 0%, rgba(31, 5, 0, 1) 100%);
  }
  .instagram-media {
    width: 100% !important;
    max-width: none !important;
  }

}

//--------------------
//team

#team {
  .social-icons {
    font-size: 1.1rem;
    ul {
      list-style: none;
    }
    a {
      color: #b4b4b4;
      padding-right: 0.3rem;
      padding-left: 0.3rem;
    }
    a:hover {
      color: #b9625d;
      transition: 0.5s all;
    }
  }
  .memberCard img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }
  .memberCard:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-filter: sepia(100%);
    filter: sepia(100%);
  }
}

//------------------------------------------
.flashing {
  animation: flashing 5s infinite;
}

@keyframes flashing {
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0.2;
  }
  55% {
    opacity: 1;
  }
}

//--------------------------

.gray:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.gray {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

//--------------------------

#advertisement {
  background-color: #2b0b2b;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='400' cy='400' r='41.4%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232b0b2b'/%3E%3Cstop offset='1' stop-color='%2363176b'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='400' cy='400' r='75.9%25' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%232b0b2b'/%3E%3Cstop offset='1' stop-color='%23340d36'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='800'/%3E%3Cg fill-opacity='0.49'%3E%3Cpath fill='url(%23b)' d='M998.7 439.2c1.7-26.5 1.7-52.7 0.1-78.5L401 399.9c0 0 0-0.1 0-0.1l587.6-116.9c-5.1-25.9-11.9-51.2-20.3-75.8L400.9 399.7c0 0 0-0.1 0-0.1l537.3-265c-11.6-23.5-24.8-46.2-39.3-67.9L400.8 399.5c0 0 0-0.1-0.1-0.1l450.4-395c-17.3-19.7-35.8-38.2-55.5-55.5l-395 450.4c0 0-0.1 0-0.1-0.1L733.4-99c-21.7-14.5-44.4-27.6-68-39.3l-265 537.4c0 0-0.1 0-0.1 0l192.6-567.4c-24.6-8.3-49.9-15.1-75.8-20.2L400.2 399c0 0-0.1 0-0.1 0l39.2-597.7c-26.5-1.7-52.7-1.7-78.5-0.1L399.9 399c0 0-0.1 0-0.1 0L282.9-188.6c-25.9 5.1-51.2 11.9-75.8 20.3l192.6 567.4c0 0-0.1 0-0.1 0l-265-537.3c-23.5 11.6-46.2 24.8-67.9 39.3l332.8 498.1c0 0-0.1 0-0.1 0.1L4.4-51.1C-15.3-33.9-33.8-15.3-51.1 4.4l450.4 395c0 0 0 0.1-0.1 0.1L-99 66.6c-14.5 21.7-27.6 44.4-39.3 68l537.4 265c0 0 0 0.1 0 0.1l-567.4-192.6c-8.3 24.6-15.1 49.9-20.2 75.8L399 399.8c0 0 0 0.1 0 0.1l-597.7-39.2c-1.7 26.5-1.7 52.7-0.1 78.5L399 400.1c0 0 0 0.1 0 0.1l-587.6 116.9c5.1 25.9 11.9 51.2 20.3 75.8l567.4-192.6c0 0 0 0.1 0 0.1l-537.3 265c11.6 23.5 24.8 46.2 39.3 67.9l498.1-332.8c0 0 0 0.1 0.1 0.1l-450.4 395c17.3 19.7 35.8 38.2 55.5 55.5l395-450.4c0 0 0.1 0 0.1 0.1L66.6 899c21.7 14.5 44.4 27.6 68 39.3l265-537.4c0 0 0.1 0 0.1 0L207.1 968.3c24.6 8.3 49.9 15.1 75.8 20.2L399.8 401c0 0 0.1 0 0.1 0l-39.2 597.7c26.5 1.7 52.7 1.7 78.5 0.1L400.1 401c0 0 0.1 0 0.1 0l116.9 587.6c25.9-5.1 51.2-11.9 75.8-20.3L400.3 400.9c0 0 0.1 0 0.1 0l265 537.3c23.5-11.6 46.2-24.8 67.9-39.3L400.5 400.8c0 0 0.1 0 0.1-0.1l395 450.4c19.7-17.3 38.2-35.8 55.5-55.5l-450.4-395c0 0 0-0.1 0.1-0.1L899 733.4c14.5-21.7 27.6-44.4 39.3-68l-537.4-265c0 0 0-0.1 0-0.1l567.4 192.6c8.3-24.6 15.1-49.9 20.2-75.8L401 400.2c0 0 0-0.1 0-0.1L998.7 439.2z'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
}